<form action="/login/" method="post">
	<p>Username </p>
	<input id="input1" type="text" class="email" name="username" placeholder="Email address" required=""/>
	<p>Password</p>
	<input id="input2" type="password" class="password" name="password" placeholder=".........." required=""/>
	<% if (typeof(message) != "undefined") {%>
		<div class="error-message"><%= message %></div>
	<% } %>
	<input type="submit" value="Login">
</form>
<p class="account-message">
  Not have an account? <a href="/signup">Sign up</a>
</p>
<div class="login-agileits-bottom">
	<h6><a href="#">Forgot password?</a></h6>
</div>
