<div class="main-agileits">
	<h1>Tiny Ui Login Form</h1>
	<div class="mainw3-agileinfo">
		<!-- login form -->
		<div class="login-form">
			<div class="login-agileits-top">
				<form action="#" method="post">
					<p>First Name </p>
					<input id="input1" type="text" class="first-name" name="firstName" required=""/>
					<p>Last Name </p>
					<input id="input2" type="text" class="last-name" name="lastName" required=""/>
					<p>Email Address </p>
					<input id="input3" type="text" class="email" name="email" required=""/>
					<p>Password</p>
					<input id="input4" type="password" class="password" name="Password" placeholder=".........." required=""/>
					<input type="submit" value="Sign Up">
				</form>
			</div>

		</div>
	</div>
</div>
<!-- //main -->
<!-- copyright -->
<div class="w3copyright-agile">
	<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
</div>
