<div class="col-lg-3 col-md-4 col-xs-6 thumb profile-pic">
  <form>
    <div class="form-group">
      <div *ngIf="user">
        <div *ngIf="!user.avatar">
          <a class="thumbnail" href="#">
            <img src="../assets/images/default-avatar.png">
          </a>
        </div>
        <div *ngIf="user.avatar">
          <a class="thumbnail" href="#">
            <img [src]="user.avatar" />
          </a>
        </div>
      </div>
      <input type="file" class="form-control" name="avatar" ng2FileSelect [uploader]="uploader">
    </div>
    <button type="submit" class="btn btn-primary" (click)="addAvatar()">Add new avatar</button>
  </form>
</div>

<div class="col-lg-5 col-md-8 col-xs-6">
  <div *ngIf="stylist">
    <p> Email: {{ stylist.username }} </p>
    <p> First Name: {{ stylist.firstName }}  </p>
    <p> Last Name: {{ stylist.lastName }} </p>
    <button class="btn btn-primary" (click)="profileToggle()">Edit profile</button>
  </div>
  <form *ngIf="editCheck == false">
    <div *ngIf="user">
      <p> Email: {{ user.username }} </p>
      <p> First Name: {{ user.firstName }}  </p>
      <p> Last Name: {{ user.lastName }} </p>
      <button class="btn btn-primary" (click)="profileToggle()">Edit profile</button>
    </div>
  </form>
  <form *ngIf="editCheck">
    <div *ngIf="user">
      <label for="username">Email:</label>
      <input type="text" name="username" value="{{ user.username }}" [(ngModel)]="user.username"><br>
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" value="{{ user.firstName }}" [(ngModel)]="user.firstName"><br>
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" value="{{ user.lastName }}" [(ngModel)]="user.lastName"><br>
      <button class="btn btn-info" (click)="profileToggle()">Update</button>
    </div>
  </form><br><br>
</div>

<div class="col-lg-4 thumb gallery">
  <h3 class="text-center">Style Gallery</h3>
  <p> will contain pinterest photos </p>
</div>
