<div class="col-lg-3 col-md-4 col-xs-6 thumb profile-pic">
  <form>
    <div class="form-group">
      <div *ngIf="user">
        <div *ngIf="!user.avatar">
          <a class="thumbnail" href="#">
            <img src="../assets/images/default-avatar.png">
          </a>
        </div>
        <div *ngIf="user.avatar">
          <a class="thumbnail" href="#">
            <img [src]="user.avatar" />
          </a>
        </div>
      </div>
      <input type="file" class="form-control" name="avatar" ng2FileSelect [uploader]="uploader">
    </div>
    <button type="submit" class="btn btn-primary" (click)="addAvatar()">Add new avatar</button>
  </form>
  <ng-container *ngIf="role == 'stylist'">
  	<div class="update-location">
		<h4>Update your location fast!</h4>
		<input type="text" id="location" placeholder="Type here">
		<p>or click</p>
		<button class="btn btn-success" (click)="here()">Here I am!</button>
	  </div>
  </ng-container>
</div>

<div class="col-lg-5 col-md-8 col-xs-6">
  <ng-container *ngIf="role == 'user'">
		<form *ngIf="!editCheck">
	    <div *ngIf="user">
	      <p> Email: {{ user.username }} </p>
	      <p> Name: {{ user.firstName }} {{ user.lastName }} </p>
				<button class="btn btn-primary" (click)="profileToggle()">Edit profile</button>
	    </div>
	  </form>
	  <form *ngIf="editCheck">
	    <div *ngIf="user">
	      <label for="username">Email:</label>
	      <input type="text" name="username" value="{{ user.username }}" [(ngModel)]="user.username"><br>
	      <label for="firstName">First Name:</label>
	      <input type="text" name="firstName" value="{{ user.firstName }}" [(ngModel)]="user.firstName"><br>
	      <label for="lastName">Last Name:</label>
	      <input type="text" name="lastName" value="{{ user.lastName }}" [(ngModel)]="user.lastName"><br>
	      <button class="btn btn-info" (click)="profileToggle()">Update</button>
	    </div>
	  </form>
	</ng-container>
	<ng-container *ngIf="role == 'stylist'">
		<form *ngIf="!editCheck">
			<div *ngIf="user">
				<p> Email: {{ user.username }} </p>
				<p> Name: {{ user.firstName }} {{ user.lastName }} </p>
				<p> Location: {{ user.location }}</p>
				<button class="btn btn-primary" (click)="profileToggle()">Edit profile</button><hr>
        <button class="btn btn-info" (click)="request()">request an appointment</button><hr>
			</div>
		</form>
		<form *ngIf="editCheck">
			<div *ngIf="user">
				<label for="username">Email:</label>
				<input type="text" name="username" value="{{ user.username }}" [(ngModel)]="user.username"><br>
				<label for="firstName">First Name:</label>
				<input type="text" name="firstName" value="{{ user.firstName }}" [(ngModel)]="user.firstName"><br>
				<label for="lastName">Last Name:</label>
				<input type="text" name="lastName" value="{{ user.lastName }}" [(ngModel)]="user.lastName"><br>
				<label for="availability">Availability</label>
					<label><input type="checkbox" value="Monday">M</label>
					<label><input type="checkbox" value="Tuesday">T</label>
					<label><input type="checkbox" value="Wednesday">W</label>
					<label><input type="checkbox" value="Thursday">T</label>
					<label><input type="checkbox" value="Friday">F</label>
					<label><input type="checkbox" value="Saturday">S</label>
					<label><input type="checkbox" value="Sunday">S</label>
				<button class="btn btn-info" (click)="profileToggle()">Update</button>
			</div>
		</form>
	</ng-container>

</div>


<div class="col-lg-4 thumb gallery">
  <h3 class="text-center">Style Gallery</h3>
  <p> will contain pinterest photos </p>
</div>
