input {
  display: block;
}

.component {
  margin-top: 5%;
}

.col1 {
  margin-top: 2.5%;
}

label, input, button {
  margin-bottom: 2%;
}

input[type="checkbox"] {
  display: inline;
}

button {
  margin-top: 2%;
  font-size: 20px;
}
