<button class="btn btn-success">Make an appointment</button>
<input type="date" value="{{today}}">
<select name="" id="">
  <option value="">1</option>
  <option value="">2</option>
  <option value="">3</option>
  <option value="">4</option>
  <option value="">5</option>
  <option value="">6</option>
  <option value="">7</option>
  <option value="">8</option>
  <option value="">9</option>
  <option value="">10</option>
  <option value="">11</option>
  <option value="" selected="selected">12</option>
</select>
<select name="" id="">
  <option value="" selected="selected">00</option>
  <option value="">15</option>
  <option value="">30</option>
  <option value="">45</option>
</select>
<select name="" id="">
  <option value="">AM</option>
  <option value="" selected="selected">PM</option>
</select>
