<div class="row">
  <div class="col-xs-6" id="make-appointment">
    <button class="btn btn-success" (click)="makeAppointment()">Make an appointment</button>
    <input type="date" [(ngModel)]="date">
    <select name="" id="" [(ngModel)]="hour">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    <select name="" id="" [(ngModel)]="minute">
      <option value="00">00</option>
      <option value="15">15</option>
      <option value="30">30</option>
      <option value="45">45</option>
    </select>
    <select name="" id="" [(ngModel)]="ampm">
      <option value="am">am</option>
      <option value="pm">pm</option>
    </select>
  </div>

  <div class="col-xs-6">
    <div id="stylist-board">
      <h4>Individual stylist's pinterest board</h4>
    </div>
    <!-- doesn't work, need to explore proper api instead of using widget -->
    <!-- <form *ngIf="user"> -->
      <!-- <input type="input" name="board" value="{{ user.board }}" placeholder="https://es.pinterest.com/your/board/" [(ngModel)]="user.board" (ngModelChange)="updateBoard()" id="board-url"> -->
      <!-- <p>{{board}}</p> -->
      <!-- <a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/pinterest/official-news/"></a> -->
      <!-- <a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="400" data-pin-scale-width="80" href="{{board}}"></a> -->
    <!-- </form> -->
  </div>
</div>
