button, input[type="date"] {
  display: block
}

button {
  margin-bottom: 3%;
}
input[type="date"] {
  margin-bottom: 3%;
}

button, input[type="date"], select:first-of-type {
  margin-left: 20%;
}

#stylist-board {
  width: 100%;
  height: 400px;
  border: 2px solid black;
  margin-top: 4em;
  text-align: center;
}

#make-appointment {
  margin-top: 5em;
}

#board {
  margin-top: 2em;
}
