<!DOCTYPE html>
<html lang="en">
<head>
  <title>My first app</title>
	<link href="css/font-awesome.css" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<%- body -%> <!-- <=== note this line -->
</body>
</html>
