<link rel="stylesheet" href="stylesheets/stylesearch.css">
<h3>Search</h3>

<div id="container">
  <h5>Find stylists by:</h5>
  <div class="dropdown">
	  <label for="price">Price</label>
	  <button name="price" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	  	Price range <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
			<li><a data-target="#">10 - 20€</a></li>
			<li><a data-target="#">20 - 30€</a></li>
			<li><a data-target="#">30 - 40€</a></li>
			<li><a data-target="#">+40€</a></li>
  	</ul>
  </div>

  <div class="dropdown">
	  <label for="day">Day</label>
	  <button name="day" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	  	Pick a day <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
			<li><a data-target="#">Monday</a></li>
			<li><a data-target="#">Tuesday</a></li>
			<li><a data-target="#">Wednesday</a></li>
			<li><a data-target="#">Thursday</a></li>
			<li><a data-target="#">Friday</a></li>
			<li><a data-target="#">Saturday</a></li>
			<li><a data-target="#">Sunday</a></li>
	  </ul>
 </div>

  <div class="dropdown">
    <label for="spot">My home or salon</label>
    <button name="spot" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    	Pick a place <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
			<li><a data-target="#">Home</a></li>
			<li><a data-target="#">Salon</a></li>
    </ul>
	</div>

  <div class="dropdown">
    <label for="service">Service</label>
    <button name="spot" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Pick a service <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
			<li><a data-target="#">Cut</a></li>
			<li><a data-target="#">Blow Dry</a></li>
			<li><a data-target="#">Color</a></li>
    </ul>
  </div>


	<div class="dropdown">
		<label for="service">Expertise</label>
		<button name="spot" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Pick a service <span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
			<li><a data-target="#">Cut</a></li>
			<li><a data-target="#">Blow Dry</a></li>
			<li><a data-target="#">Color</a></li>
		</ul>
	</div>
</div>



 <div id="map"></div>
 <input type="text" id="pac-input" name="search" placeholder="Choose your location">

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPr_6SPIIKbgLtuwBMSnZmiAg2kTwlXPc&libraries=places"></script>
<script src="javascripts/search.js"></script>
