<head>
	<link rel="stylesheet" href="/stylesheets/profiles.css">
</head>

<a href="/stylist/profile">Profile</a>
<br>
<a href="/logout">Logout</a>

<%

var avatar, services, expertise, languages, description, price, availability, location;

function popVars(cat) {
	if (typeof user.cat != "undefined") {
		cat = user.cat;
	}
}

for (var prop in user) {
	popVars(prop);
}

var name = user.firstName + " " + user.lastName;

%>

<form action="/stylist/profile/<%= user._id%>" method="POST">

</form>
