html, body {
	height: 100%
}

body {
	padding: 4em;
}

#logo {
	background-color:rgba(0,0,0,0.25);
	top: 45%;
}

#button-div {
	position: absolute;
}

#button-div a{
	border: 1px solid black;
}

.navbar-nav {
	margin: none;
}

.pageView .nav-pills {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 15%;
	text-align: center;
}

.pageView .nav-pills li{
	width: 5em;
	background-color: rgb(237,237,237);
	border-radius: 5%;
	font-size: 1.5em;
	float: left;
	margin-top: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.nav li {
	font-size: 1.25em;
}

.w3-button {
	font-size: 1.25em;
}
