table {
	margin-top: 50px;
}

.categories{
	width: 150px;
}

td {
	font-size: 20px;
	padding-bottom: 0.5em;
}

input {
  display: block;
}


p {
  display: inline-block;
}

.hide {
	display: none;
}

.confirmReq {
  display: block;
}

.newBookingConfirmed {
  display: block;
}
