.categories{
	width: 150px;
	font-weight: bold;
}

/*.gallery .thumbnail{
    width: 33%;
    height: auto;
    overflow: auto;
}

.gallery .thumbnail img{
    // your styles for the image
    width: 100%;
    height: auto;
    display: block;
}*/

textarea {
	margin-top: 1em;
}

input[type="text"] {
	margin-bottom: 0.5em;
}


td {
	font-size: 18px;
	padding-bottom: 0.5em;
	padding-right: 2em;
}

table, dl, .profile-pic, .edit-profile, .upload {
	margin-top: 2em;
}

p {
  display: inline-block;
}


.hide {
	display: none;
}

input, .confirmReq, .newBookingConfirmed {
  display: block;
}

.gallery h3 {
	margin-bottom: 2em;
}
