table {
	margin-top: 50px;
}

.categories{
	width: 150px;
}

td {
	font-size: 18px;
	padding-bottom: 0.5em;
	padding-right: 2em;
}

input {
  display: block;
}


p {
  display: inline-block;
}

dl {
	margin-top: 2em;
}

.hide {
	display: none;
}

.confirmReq {
  display: block;
}

.newBookingConfirmed {
  display: block;
}

#upload {
	margin-top: 1em;
}

#profile-pic {

}
