<div class="row first-row">
     <div class="col-xs-2">
       <label for="price">Price</label>
       <select id="price" class="dropdown form-control" (change)="onChange($event.target.value)">
             <option>Add filter</option>
             <option value="€">€</option>
             <option value="€€">€€</option>
             <option value="€€€">€€€</option>
       </select>
     </div>
     <div class="col-xs-2">
       <label for="day">Day</label>
       <select id="day" class="dropdown form-control" (change)="onChange($event.target.value)">
             <option>Today</option>
             <option value="Monday">Monday</option>
             <option value="Tuesday">Tuesday</option>
             <option value="Wednesday">Wednesday</option>
             <option value="Thursday">Thursday</option>
             <option value="Friday">Friday</option>
             <option value="Saturday">Saturday</option>
             <option value="Sunday">Sunday</option>
       </select>
     </div>
     <div class="col-xs-2">
       <label for="where">Home visit?</label>
       <select id="where" class="dropdown form-control" (change)="onChange($event.target.value)">
             <option>Don't mind</option>
             <option value="Home visit">My place</option>
             <option value="Salon">Their place</option>
       </select>
     </div>
     <div class="col-xs-2">
       <label for="style">Service</label>
       <select id="style" class="dropdown form-control" (change)="onChange($event.target.value)">
             <option>Any</option>
             <option value="Cut">Cut</option>
             <option value="Blow Dry">Blow Dry</option>
             <option value="Color">Color</option>
       </select>
     </div>
     <div class="col-xs-2">
       <label for="gender">Gender</label>
       <select id="gender" class="dropdown form-control" (change)="onChange($event.target.value)">
             <option>Unisex</option>
             <option value="Women">Women only</option>
             <option value="Men">Men only</option>
       </select>
     </div>
     <div class="col-xs-2">
       <label for="distance">Distance</label>
       <select id="distance" class="dropdown form-control" [(ngModel)]="distance">
             <option value=10>Add filter</option>
             <option value=2>2km</option>
             <option value=5>5km</option>
       </select>
     </div>
</div>

<div class="row">
  <div class="col-xs-6" id="col-map">
    <input type="text" id="pac-input" name="search" placeholder="Choose your location">
    <div id="map"></div>
  </div>

  <div class="col-xs-6">
    <button (click)="growMap()" *ngIf="list" class="btn" id="backToMap">Back to Map</button>
    <table id="listOfStylists">
      <tr id="table-headers" class="hidden">
        <th id="profile-header">Profile</th>
        <th>Name</th>
        <th>Location</th>
        <th>Distance</th>
      </tr>
      <tr *ngFor="let stylist of stylists">
        <ng-container *ngIf="stylist.marker.visible && stylist.distanceFromLocation < distance">
          <td><i (click)="shrinkMap()" class="fa fa-user" aria-hidden="true"></i></td>
          <td class="stylist-name">{{ stylist.firstName }} {{stylist.lastName}}</td>
          <td>{{ stylist.location }}</td>
          <td>{{ stylist.distanceFromLocation}}km</td>
        </ng-container>
      </tr>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
