.search {
  text-align: center;
  border: none;
  font-size: 28px;
}

#pac-input {
  margin-left: 1%;
  font-size: 26px;
  color: black;
  opacity: 1;
  border: none;
  text-decoration: underline;
}

.table-striped>tbody>tr:nth-child(odd),
.table-striped>tbody>tr:nth-child(odd) {
   background-color: white;
 }

 .table-striped>tbody>tr:nth-child(even),
 .table-striped>tbody>tr:nth-child(even) {
    background-color: #f8f8f8;
  }

.first-row {
  margin-top: 2%;
}

button {
  color: white;
  background-color: #3f6d7f;
}

button:hover {
  color: white;
  background-color: #192b33;
}

i {
  text-align: center;
  font-size: 1.6em;
}

i:hover {
  transform: scale(1.2);
  cursor: pointer; cursor: hand;
}

#map {
  width: 100%;
  height: 400px;
  background-color: white;
  margin-top: 50px;
}

#listOfStylists {
  margin-top: 50px;
}

#backToMap {
  margin-top: 2%;
}

table {
  margin-left: 5%;
}

th {
  padding-left: 3%;
  padding-bottom: 1.5%;
}

#profile-header {
  padding-left: 0;
  padding-right: 3%;
}

td {
  padding: 1% 3%;
}

.stylist-name {
  transition: color .1s;
  color: #265C83;
}

.stylist-name:hover {
  color: #72c5e5;
  cursor: pointer; cursor: hand;
}

#hidden {
  opacity: 0;
}
