<div class="component">
  <div class="col-xs-6">
    <form>
      <label for="username">
        Email Address
      </label>
      <input type="text" [(ngModel)]="user.username" name="username" required />
      <label for="password">
        Password
      </label>
      <input type="password" [(ngModel)]="user.password" name="password" required />
      <button class="btn btn-info" (click)="logIn()"> Login </button>
    </form>

    <p class="account-message">
      Don't have an account yet? <a href="/signup">Sign up</a>
    </p>
  </div>

  <div class="col-xs-6">
    <img src="../assets/images/home-screen.png" width="90%" height="auto" alt="">
  </div>
</div>
