<form action="/signup" method="post">
	<p>First Name </p>
	<input id="input1" type="text" class="first-name" name="firstName" required=""/>
	<p>Last Name </p>
	<input id="input2" type="text" class="last-name" name="lastName" required=""/>
	<p>Username </p>
	<input id="input3" type="text" class="email" name="email" placeholder="Email Address" required=""/>
	<p>Password</p>
	<input id="input4" type="password" class="password" name="password" placeholder=".........." required=""/>
  <% if (typeof(message) != "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
	<meter max="4" id="password-strength-meter"></meter>
	<p id="password-strength-text"></p>
	<input type="submit" value="Sign Up">
</form>
<p class="account-message">
  Do you already have an account? <a href="/login">Login</a>
</p>
<script src="/javascripts/signup.js"></script>
