<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<div class="home pageView">
	<div class="w3-display-middle w3-padding-xlarge w3-border w3-wide w3-text-light-grey w3-center" id="logo">
		<h1 class="w3-xlarge">ESTIL</h1>
	</div>

	<ul class="nav nav-pills navbar-nav">
		<%if (typeof user == "undefined"){%>
	  <li class="nav-item user-buttons">
	    <a class="nav-link " href="/login">Login</a>
	  </li>
	  <li class="nav-item user-buttons">
	    <a class="nav-link" href="/signup">Sign Up</a>
	  </li>
	  <li class="nav-item hide stylist-buttons">
	    <a class="nav-link" href="/stylist/login">Stylist Login</a>
	  </li>
	  <li class="nav-item hide stylist-buttons">
	    <a class="nav-link" href="/stylist/signup">Stylist Signup</a>
	  </li>
		<%} else {
			if (user.role == "Stylist") {%>
				<li class="nav-item stylist-buttons">
			    <a class="nav-link" href="/stylist/profile">Profile</a>
			  </li>
			<%} else if (user.role == "User"){%>
				<li class="nav-item user-buttons">
			    <a class="nav-link" href="/profile">Profile</a>
			  </li>
			<%}%>
			<li class="nav-item">
				<a class="nav-link" href="/logout">Logout</a>
			</li>
		<%}%>
	</ul>

	<%if (typeof user == "undefined"){%>
	<button class="btn" id="are-you-a-stylist">Are you a stylist? Click here to sign up or log in</button>
	<%}%>

	<script type="text/javascript">
		$("#are-you-a-stylist").on("click",function(){
			$(".user-buttons").toggleClass("hide");
			$(".stylist-buttons").toggleClass("hide");
			// $("#are-you-a-stylist").html("Do you want your hair cut? Click here to sign up or log in");
		})
	</script>
</div>
